#product{
   width: 100%;

   
}
#box{
    background-color: #f0f4f9;
    width: 100%;
    height: 100%;
    border-radius: 4%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 2%;



}
#box>.image{
    display: block;
    width: 85%;
    margin: auto;
    border-top-left-radius: 4%;
    border-top-right-radius: 4%;
    
}
.name{
    text-align: center;
}
.desc{
    text-align: center;
    font-size: medium;
}
.price{
    padding: 1%;
}
.striked_price{
    text-decoration: line-through;
    color: black;
}
.discount{
    padding-left: 10%;
}

.pbtn{
    width: 50%;
    height: 8%;
    border-radius: 7%;
    margin: auto;
    padding: 1%;
    border: none;
    background-color: rgb(78, 78, 165);
    color: white;
    margin: 7% 25%;
}