*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
#search{
    width: 100%;
    height: auto;
    background-image: url("https://www.shutterstock.com/image-photo/business-design-concept-empty-stone-260nw-1164477961.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
#search>h1{
    font-size: 40px;
    color: #1C1C1C;
    font-weight: 300;
    /* padding-left: 20%; */
    text-align: center;
    padding-top: 7%;
    padding-bottom: 3%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#search>ul{
    padding-left: 19%;
    list-style-type: none;
    display: flex;
    justify-content:start;
}
#search>ul>li{
    padding: 5px 2%;
    color: #1C1C1C;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#search>ul>li:hover{
    color: #E81C28;
    cursor: pointer;
    border-bottom: 1px solid #E81C28;
}

.searchbar{
    margin: auto;
    background-color: white;
    width: 60%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 1%;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;}
.searchbar>input{
    width: 80%;
    height: 4vh;
    color: #1C1C1C;
    border: none;
    outline: none;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.searchbar>button{
    width: 10%;
    height: 5vh;
    color: white;
    cursor: pointer;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color:#E81C28;
    border: none;
    border-radius: 20px;
}
#search>div:last-child{
    text-align: center;
}
#search>div:last-child>img{
    width: 40%;
    padding: 5vh;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* section */
section{
    width: 100%;
}
#overseas{
    width: 70%;
    margin: auto;
    position: relative;
    overflow: hidden;

}
#overseas>h2{
    text-align: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    color: #1C1C1C;
    font-size: 25px;
    padding: 2% 0%;
}
#overseas .areas{
    padding: 2% 0%;
    display: flex;
    gap: 1%;
    position: relative;
    overflow: hidden;
    -webkit-animation: slide 50s linear infinite;
    animation: slide 50s linear infinite;
    width: calc(30% * 12);
}
#overseas .areas>div{
width: 30%;
height:35vh;
box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
border-radius: 0px 0px 10px 10px ;


}
@-webkit-keyframes slide {
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(calc(-30% * 3));

    }
    100%{
        transform: translateX(0%);
    }
}
@keyframes slide{
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(calc(-30% * 3));

    }
    100%{
        transform: translateX(0%);
    }
}
#overseas .areas>div>img{
    width: 100%;
    border-radius: 10px 10px 0px 0px ;
}
#overseas .areas>div>h3{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    color: #1C1C1C;
    font-size: 20px;
    padding: 2% 1%;
}
#overseas .areas>div>p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #1C1C1C;
    font-size: 17px;
    padding: 1% 1%;
}
#overseas>a{
    color: blue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    text-decoration: none;
}
#overseas>a>i{
    font-size: 23px;
    padding-right: .5%;
}

#world{
    margin: 3% 0%;
    width: 70%;
    margin: auto;
    position: relative;
    overflow: hidden;
}
#world>h2{
    text-align: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    color: #1C1C1C;
    font-size: 25px;
    padding: 2% 0%;
}
#world .worldprops{
    padding: 2% 0%;
    display: flex;
    gap: 1%;
    position: relative;
    overflow: hidden;
    -webkit-animation: slide 50s linear infinite;
    animation: slide 50s linear infinite;
    width: calc(30% * 12);
}
#world .worldprops>div{
    width: 30%;
    height:42vh;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius:10px ;
    border: 1px solid gray;    
    }
    #world .worldprops>div>img{
        width: 100%;
        border-radius: 10px 10px 0px 0px ;
    }
    #world .worldprops>div>h2{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 500;
        color: #1C1C1C;
        font-size: 20px;
        padding: 2% 1%;
    }
    #world .worldprops>div>h5{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 500;
        color: #697684;
        font-size: 18px;
        padding: 2% 1%;
    }
    #world .worldprops>div>p{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: #697684;
        font-size: 17px;
        padding: 1% 1%;
    }
    #world .worldprops>div>span{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: #697684;
        font-size: 18px;
        padding: 1% 1%;
    }


#globe{
    margin: 3% 0%;
    width: 70%;
    margin: auto;
    position: relative;
    overflow: hidden;
}
#globe>h2{
    text-align: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    color: #1C1C1C;
    font-size: 25px;
    padding: 2% 0%;
}
#globe .globeprops{
    margin: 2% 0;
    padding: 1% 0%;
    display: flex;
    align-items: center;
    gap: 1%;
    position: relative;
    overflow: hidden;
    -webkit-animation: slide 50s linear infinite;
    animation: slide 50s linear infinite;
    width: calc(30% * 6);
}

#globe .globeprops>div{
    width: 30%;
    height:52vh;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius:10px ;
    border: 1px solid gray;    
    }
   
    #globe .globeprops>div>img{
        width: 100%;
        border-radius: 10px 10px 0px 0px ;
    }
    #globe .globeprops>div>h3{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 500;
        color: #1C1C1C;
        font-size: 18px;
        padding: 2% 1%;
    }
   
    #globe .globeprops>div>p{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: #697684;
        font-size: 17px;
        padding: 2% 1%;
        font-weight: 400;
    }
  
#explore{
    background-color: #F7F8F9;
    width: 70%;
    margin: 3% auto;
    padding: 2% 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;

}
#explore>div>.fa-location-crosshairs{
    font-size: 70px;
}
#explore>div:last-child{
    margin: auto 2%;
}
#explore>div:last-child>h3{
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #1C1C1C;
}
#explore>div:last-child>p{
    width: 100%;
    padding: 2% 0;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    color: #697684;
}
#explore>div:last-child>a{
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: blue;
  
}
.fa-greater-than{
    padding-left: 2%;
    font-size:20px ;
}

/* medium screens */
@media screen and (min-width:500px)and (max-width:800px) {
    #search>h1{
        font-size: 25px;
    }
    .searchbar>button{
    width: 15%;
    }
    #search>div:last-child>img{
        width: 50%;
    }

    #overseas .areas{
       
        width: calc(40% * 12);
    }
    #world .worldprops{
      
        width: calc(40% * 12);
    }
    #globe .globeprops{
       
        width: calc(40% * 6);
    }
}


/* small screens */
@media (max-width:500px){
    #search>h1{
        font-size: 20px;
    }
    .searchbar>button{
    width: 20%;
    }
    #search>div:last-child>img{
        width: 70%;
    }
    #overseas .areas{
       
        width: calc(70% * 12);
    }
    #world .worldprops{
      
        width: calc(70% * 12);
    }
    #globe .globeprops{
       
        width: calc(90% * 6);
    }
 

}