*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#journey{
    width: 100%;
    margin: auto;
    margin-top: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#journey>a{
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    color: #E81C28;
    padding: 1%;
    text-decoration: none;
    border-bottom: 3px solid #E81C28;
}

/* section */
section{
    width: 100%;
    height: auto;
 
}
/* findsave */
section>#findsave{
    width: 100%;
    text-align: center;
    padding: 3% 0%;
}
#findsave>h2{
    color: #1D1D1D;
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    margin: .5% 0%;
}
#findsave>p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
}

/* advice */
section{
    width: 100%;
}
section>#advice{
    width: 70%;
    margin: auto;

}
#advice>p{
    text-align: center;
}
#advice>p>span{
    color: #575757;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    border-bottom: 2px solid #E81C28;
}
#advice>.adviceimg{
    width:100%;
    margin: auto;
    margin-top: 3%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2%;
}

#advice>.adviceimg>div{
    height: 100%;
    border-radius:7px ;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}
#advice>.adviceimg>div>div{
    width: 100%;
    height: 60%;

}
#advice>.adviceimg>div>div>img{
    width: 100%;
    height: 100%;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}
#advice>.adviceimg>div>h2{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 2%;

}

section>#houseimg{
    width: 100%;
    text-align: center;
    margin: 5% 0%;
}
section>#houseimg>img{
    width: 60%;
    padding: 3% 0%;
}


/* medium screens */
@media screen and (min-width:500px)and (max-width:800px) {
    #advice>.adviceimg{
       
        grid-template-columns: repeat(2,1fr);
    }
    section>#houseimg{
        
        margin-top: 20%;
    }
}

/* small screens */
@media (max-width:500px){
    #advice>.adviceimg{
       
        grid-template-columns: repeat(1,1fr);
    }
    section>#houseimg{
        
        margin-top: 80%;
    }
}
