*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* parent */
#parent{
    width: 100%;
    display: flex;
    justify-content: center;
}
#inner{
    width: 70%;
    display: flex;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
     margin: 5% auto;
}


/* left */
#left{
    width: 50%;
    display:flex;
    background-color: #FAFAFA;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 6vh;
    padding: 3% 5%;

}

#left>div:last-child>ul{
    list-style-type: none;
    text-align: center;
    font-size: 18px;
    color: #1D1D1D;
    line-height: 1.6rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* right */
#right{
    width: 50%;
    height: auto;
    background-color: white;
}
#right>.login{
    margin: auto;
    height: 100%;
    width: 70%;
    padding: 7% 4%;
}
#right>.login>.logo{
    text-align: center;
 
}
#right>.login>h2{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #1D1D1D;
    font-size: 18px;
    font-weight: 400;
}



.inp{
    width: 100%;
    height: 5vh;
    color: black;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 5px;
    background-color:#eae3e3;
}

a{
    text-decoration: none;
    color: #E81C28;
}
form>.btn{
    width: 100%;
    text-align: center;
}
button{
    width: 50%;
    height: 5vh;
    color: white;
    background-color:#E81C28;
    border: none;
    border-radius: 9px;
    padding: 5px;
    font: 1em sans-serif;
    cursor: pointer;
}

#login{
    font-size:small;
    font-family: sans-serif;
    padding-top: 1%;
    text-align: center;
}


/* medium screens */

@media screen and (min-width:500px)and (max-width:800px) {
    #left{
        display: none;
    }
    #right{
        width: 100%;
    }
}
@media (max-width:500px){
    #left{
        display: none;
    }
    #right{
        width: 100%;
    }
}