body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* footer */
#top{
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: #CCCCCC;
}
#top>.tleft{
    width: 21vw;
    display: inline;
    height: auto;
}

.tleft>a>img{
    width: 200px;
    height: 200px;
    margin-bottom: -50px;
    margin-left: 20px;
}
.tleft>p{
    font-size: 15px;
    font-family: sans-serif;  
    line-height: 28px;  
}

#top>.tright{
    margin-top: 80px;
    width: 25vw;
    margin-left: 160px;
}
.tright>h3{
    color: #1a59a7;
    font-size: 17px;
    font-family: sans-serif;
    margin: 12px 0px 20px 0px;
}
.tright>p{
    font-size: 15px;
    font-family: sans-serif;  
    line-height: 28px;  
}


#bottom{
    background-color: black;
    margin-top: 0px;
}
.btop{
    border-bottom: 1px solid rgb(71, 71, 71);
}
.btop>ul{
    height: 50px;
    list-style-type: none;
    display:flex;
    align-items: center;
    justify-content: center;
}
.btop>ul>li>a{
    color: white;
    font-size: 12px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    padding: 10px 50px;
}

.btop>ul>li>a>i{
    color: white;
}

.bbottom{
    background-color: black;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bbottom>i{
    color: #666666;
    font-size: 11px;
    padding-right: 5px;

}

.bbottom>span{
    color: #666666;
    font-size: 11px;
    font-family: sans-serif;
    padding-right: 5px;
}
.bbottom>a{
    color:#EEEEEE;
    font-size: 11px;
    font-family: sans-serif;
    text-decoration: none;
}


/* medium screen */
@media   (max-width: 768px) {
 
}

/* small screen */
@media   (max-width: 426px) {
    #top{
        flex-direction: column;

    }
  
    .tleft>a>img{
        margin-left:-50px ;
    }
    .tleft>p{
        width: 80vw;
        margin-left: -125px;
        text-align: center;
        font-size: 12px;
        line-height: 25px;
    }
   
    .tright>h3{
        width: 40vw;
        text-align: start;
        margin-left:-80px ;
    }
    .tright>p{
        width: 70vw;
        margin-left: -170px;
        text-align: center;
        font-size: 12px;
        line-height: 25px;
    }
    
    .btop>ul>li>a{
        color: white;
        font-size: 12px;
        padding: 10px 10px;
    }
}