*{
    padding:0;
    margin: 0;
    box-sizing:border-box;
}

nav{
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    height: 90px;
    background-color: white;
    position:sticky;
    top: 0px;
}

#logo{
    margin-left: 30px;
}
#logo>a>img{
    width:150px;
    height:150px;
}
#content{
    width: 50%;
}

#menu{
    list-style-type: none;
    display: flex;
    justify-content: start;
    align-items: center;
}
#menu>li>a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-family:sans-serif;
    padding:15PX 22.5PX;
}
#submenu{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
#submenu>li>a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-family:sans-serif;
    padding:15PX 22.5PX;
}

#submenu1{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
#submenu1>li>a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-family:sans-serif;
    padding:15PX 22.5PX;
}
#content>ul>li>a:hover{
    color: white;
    padding:15PX 22.5PX; 
    background-color: #1a59a7;
    border-radius: 5px;
}

#submenu{
    margin-top: 15px;
    opacity: 0;
    position: absolute;
    visibility: hidden;
    z-index: 1;
    float:none;
    border: 1px solid black;
    border-radius: 5px;
}

li::after #submenu{
    visibility: hidden;
}

li:hover #submenu{
    opacity: 1;
    visibility: visible;
    position:absolute;
    display: block;
    background-color: aqua;
}
#submenu li{
    float: none;
    padding:15px 0px 15px 0px; 

}


#submenu1{
    margin-top: px;
    margin-left: -175px;
    opacity: 0;
    position: absolute;
    visibility: hidden;
    z-index: 1;
    float:none;
    border: 1px solid black;
    border-radius: 5px;
}

li:hover #submenu1{
    opacity: 1;
    visibility: visible;
    position:absolute;
    display: block;
    background-color: aqua;
}
#submenu1 li{
    float: none;
}


@media   (max-width: 768px) {
    nav{
        width: 100%;
        display: flex;
        justify-content: start;
    }
    #content{
        width: 80%;
    }

}
@media (max-width:426px) {
    nav{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    #logo{
        margin-left:-10px ;
        
    }
    #logo>a>img{
        padding-left: 20px;
        width: 65px;
        height: 65px;
    }
    #content{
        width: 87%;
    }
    
#menu{
    list-style-type: none;
    display: flex;
    justify-content:start;
    align-items: center;
}
#menu>li>a{
    text-decoration: none;
    color: black;
    font-size: 12px;
    font-family:sans-serif;
    padding:10PX 7PX;
}
}
