*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRajkpJ7embN31qAt09_JDhyHezkpI4i76DsA&usqp=CAU");
    background-repeat: no-repeat;
    background-size: 100% ;
    
}