#parent{
    width: 350px;
    height: auto;
    padding: 20px 30px 10px 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: auto;
    margin-top: 20px;

}

#parent>h2{
    padding-left: 100px;
}

.form{
    padding: 10px 10px 10px 10px;
   
}

.inp{
    width: 250px;
    height: 30px;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 5px;
    background-color:#E8F0FE;
    outline: none;
}

#forgot{
    width: 260px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size:small;
    font-family: sans-serif;
    padding-top:px;

}
#forgot>:first-child{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.sp{
    color: black;
}
.link{
    text-decoration: none;
    color: blue;
}

.btn{
    width: 250px;
    height: 30px;
    color: white;
    background-color:#1a59a7;
    border: none;
    border-radius: 9px;
    cursor: pointer;
    padding: 5px;
    font: 1em sans-serif;
}

#register{
    color: black;
    font-size:small;
    font-family: sans-serif;
    padding-top: 6px;
    margin-left: 15px;
}
