*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

#footer{
    width: 100%;
    background-color: #1D1D1D;
   
}
#footer>#footer_main{
    width:70%;
    display: grid;
    grid-template-columns: repeat(4,25%);
    margin: auto;
    padding: 4% 0% 1% 0% ;
    gap: 1%;
}


#footer_main>.fbox>h3{
    font-family: sans-serif;
    font-size: 16px;
    margin: 3% 0;
    color: #FFFFFF;
    font-weight: 600;
}
#footer_main>.fbox>ul{
    list-style-type: none;
    
}
#footer_main>.fbox>ul>li{
    font-size: 12px;
    margin: 4% 0;
    font-family: sans-serif;
    text-decoration: none;
    font-weight: 400;
    color: #FFFFFF;
    
}
#footer_main>.fbox>ul>li>a{
    font-family: sans-serif;
    text-decoration: none;
    font-weight: 500;
    color: #FFFFFF;
}
#footer_main>.fbox>ul>li>a:hover{
background-color: #FFFFFF;
    color:#1D1D1D;
    padding:1.5%;    
}



.founder
{
    width: 15%;
    margin: auto;
    padding: 2%;
    display: flex;
     justify-content: space-between;
     font-size:11px;
     color:#FFFFFF;
}
.founder>a{
     text-decoration: none;
color: #FFFFFF;
font-family: sans-serif;
}
.founder>a:hover{
    background-color: #FFFFFF;
    color:#1D1D1D;
    padding:1.5%;
}
